<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sesiones</title>
</head>
<body>
    <h1>Lista de Sesiones</h1>
    <table>
        <thead>
            <tr>
                <th>fecha</th>
                <th>hora</th>
                <th>estudiante</th>
                <th>tutor</th>
                
            </tr>
        </thead>
        <tbody>
            
            <!-- Iteración sobre la lista de tutores -->
            <tr th:each="sesion : ${sesiones}">
                <td th:text="${sesion.fecha}">Fecha</td>
                <td th:text="${sesion.hora}">Hora</td>
                <td th:text="${sesion.estudiante.name}">Hora</td>
                <td th:text="${sesion.tutor.name}">Hora</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
